/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: rgb(84, 84, 223);
  --error: #e7195a;
}
body {
  font-family: "Poppins";
  background: #2C323D;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background: linear-gradient(to bottom, #49566C 70%, #2C323D);
  height: 100vh;
}
header {
  background: #fff;
  width:100%;
  top:0;
  position:fixed;
  z-index: 1;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 15fr 1fr;
  gap: 100px;
  padding-top: 150px
}

.workouts {
  margin-left: 50%;
  border: 3px solid black;
}
.workout-details {
  background: #fff;
  border-radius: 4px;
  margin: 15px;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  text-align:left;
}
.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.create {
  color: white;
  position: fixed;
  left: 10%;;
}
/* new workout form */
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
 
}

input[type="email"],
input[type="password"] {
  padding: 10px;
  margin: 10px 0;
  margin-bottom:20px;
  width: 100%;
  border: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  transition: border-color 0.3s ease;
   box-sizing: border-box;
}

input[type="email"]:hover,
input[type="password"]:hover {
  border-color: #555;
}

input[type="text"],
input[type="number"]  {
  border: 4px solid black;
}

input[type="text"]:hover,
input[type="number"]:hover {
  border-color:#516BC7;
  transition: border-color 0.5s;
}


form button {
  cursor: pointer;
  background-color: var(--primary);
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
  font-family: "Poppins";
}

button:hover {
  background-color: skyblue;
  cursor: pointer;
  transition: background-color 0.5s;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}
nav a, nav button {
  margin-left: 10px;
}
nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}

/* auth forms */
form.signup, form.login {
  background: #fff;
  width: 400px;
  margin: 40px auto;
  margin-top: 200px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  
}

.material-symbols-outlined:hover {
  background-color: red;
  transition: background-color 0.5s;
}

.image-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}

.image {
  position: fixed;
  right: 17%;
  bottom: 0%;
  z-index: 9999;
  max-width:fit-content;
  max-height:fit-content;
  font-family: "Poppins";
}
